*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;

    
}

header img {
 width: 100px; 
 border-radius: 50%; 
 /* border: 1px solid blue; */
}
.resumediv{
  width: 70%; 
  /* padding: 1%; */
  border: 2px solid black; 
  

}

header{
  width: 100%;
  height: 113px;
  /* background-color: color(srgb rgb(128, 255, 0) rgb(77, 0, 128) rgb(0, 255, 60)); */
  background:linear-gradient(rgba(79, 156, 12, 0.071),rgba(82, 27, 208, 0.44));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 1px;
}

.content{
  width: 100%;
  display: flex;
  
  
}

.content aside

{
  width: 30%;
  background-color: rgba(197, 232, 202, 0.401);
  /* border: 2px solid green; */
  padding-left : 25px;
  padding-bottom: 20px;
}


.contact h2,
.education h2,
.skill h2,
.language h2,
.experience h2,
.refrence h2

{
  border-bottom: 2px solid rgba(0, 119, 255, 0.734);
  margin-bottom: 20px;
  padding-bottom: 1%;
  color: rgba(0, 119, 255, 0.734)
  
}

.skill ul{
  /* border: 2px solid;
  padding-left: 25px; */
  margin-left: 25px;
}

.main-class{
 width: 70%;
  padding-left: 35px;
}

.experience-item p{
  margin-bottom: 5px;
}

.experience-item{
 margin-bottom: 40px; 
}

 
.btdiv{
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: aqua; */
  margin-top: 30px;
}

.btn{
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding: 8px;
  color: white;
  background-color: #00ffff;
  &:hover{
    background: #00eaff;
    transform: scale(0.95);
  }
}

.hide{
  display: none;
}

@media(max-width:786px){
  .content{
    flex-direction: column;
      }
      .content aside,
      .main-class
      {
        width: 100%;
      }
}

@media print {
  .btdiv{
    display: none;
  }
}

